{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>UNERG Becas</title>
  <link rel="icon" type="image/png" href="{% static '/images/demo/icon.png' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
  {% block estilos %}
  {% endblock %}
</head>

<body id="top">
  <div class="wrapper row0"></div>
  <div class="wrapper row1" style="color:#211c1c;">
    <header id="header" class="clear">
      <div id="logo" class="fl_left" >
        <h1 ><a href="{% url 'inicio' %}" style="color:#211c1c;">Becas Unerg </a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          {% if user.is_authenticated %}
          <li><a class="drop" href="#">servicios</a>
            <ul>
              <li><a href="{% url 'registrar' %}">Registrar Estudiantes</a></li>
              <li><a href="{% url 'full' %}">Registros</a></li>
              <li><a href="{% url 'full_solicitud' %}">Solicitudes</a></li>
              <li><a href="{% url 'delete_form' %}">Eliminar y modificar</a></li>
              <li><a href="{% url 'metricas' %}">Metricas</a></li>
            </ul>
          </li>
          <li>
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="nav-item nav-link" style="background: none; border: none; color: inherit; cursor: pointer;">
                    LOGOUT
                </button>
            </form>
            
          </li>
        </form>
          {% else %}
          <li><a href="{% url 'inicio' %}">Inicio</a></li>
          <li><a href="{% url 'solicitudes' %}" class="nav-item nav-link">Solicitudes</a></li>
          <li><a href="{% url 'login' %}" class="nav-item nav-link">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
  </div>
  {% block contenido %}
  {% endblock %}

  {% if not user.is_authenticated %}
  <style>
    .centro {
      text-align: center;
    }
    
    li {
      margin: 0 20px;
      padding: 0 20px;
      text-align: justify;
    }
  </style>

  <div class="centro row5">
    <footer id="footer" class="clear">
      <div class="one_quarter first">
        <h6 class="title">Atención al Cliente</h6>
        <ul class="nospace">
          <li class="btmspace-10"><span class="fa fa-phone"> 0246-123-4567</span></li>
          <li><span class="fa fa-envelope-o"></span> soporte@unerg.cl</li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="title">Links</h6>
        <ul class="nospace linklist">
          <li><a href="/">Página de Inicio</a></li>
          <li><a href="{% url 'solicitudes' %}">Solicitudes</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="title">Más de la página</h6>
        <article >
          <h2 class="nospace" ><a href="/">Función de la página</a></h2>
          <li style="text-align: left;">Esta página está diseñada para el control y asignación de becas universitarias para estudiantes de la universidad UNERG.</li>
        </article>
      </div>
      <!-- Cuarta columna -->
      <div class="one_quarter">
        <h6 class="title">Redes sociales</h6>
        <ul class="nospace linklist">
          <li><a href="https://www.facebook.com/@oficialunerg1977" target="_blank">Facebook</a></li>
          <li><a href="https://www.instagram.com/oficial_unerg/" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </footer>

    <div class="wrapper row6">
      <div id="copyright" class="clear">
        <p class="fl_left">Copyright &copy; 2024 - Todos los derechos reservados.</p>
        <p class="fl_right">Versión RC 1.1.1</p> <!--Versión candidata a definitiva (RC)-->
      </div>
    </div>

  {% endif %}
  {% block scripts %}
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

  
  <script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
  <script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
  <script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"></script>
  <script src="{% static 'layout/scripts/chart.js' %}"></script>
  
  
  {% endblock %}
</body>

</html>