{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<div class="wrapper row2 bgded" style="background-image:url('{% static 'images/demo/backgrounds/background.jpg' %}');">

  <style>
    p {
      margin: 0 20px;
      padding: 0 20px;
      text-align: left;
    }

    .overlay {
      padding: 0;
    }

    .center {
      text-align: center;
    }

    .btmspace-80 {
      margin-bottom: 80px;
    }

    .wrapper {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .imagen {
      padding: 20px;
    }

    .nospace {
      margin: 0;
    }

  </style>


  <div class="overlay">
    <section id="pageintro" class="clear">
      <div class="center btmspace-80">
        {% if user.is_authenticated %}

        <div class="welcome-message">
          <h2 class="heading xxl uppercase btmspace-30"><head id="header" class="clear">¡Bienvenido de nuevo, {{ user.username }}!<head></h2>
          <p>Has iniciado sesión con éxito.<i class="fa fa-check"></i></p>
          <p>Hoy es {{ today }}.<i class="fa fa-check"></i></p>
        </div>


        {% else %}

        <h2 class="heading xxl uppercase btmspace-30">Becas universitarias UNERG</h2>
        <p class="xl nospace capitalise justify-text">Las becas universitarias de la Universidad Nacional Experimental
          Rómulo Gallegos (UNERG) son una herramienta fundamental para promover el acceso y la permanencia de los
          estudiantes en la educación superior. Estas becas están diseñadas para ayudar a aquellos estudiantes que
          enfrentan dificultades económicas, asegurando que puedan continuar sus estudios y alcanzar sus metas
          académicas.</p>
      </div>

      <div class="wrapper row3" style="color:#211c1c;">
        <main class="container clear">
          <div class="group">
            <div class="one_third imagen first"><img src="{% static 'images/demo/beca_1.jpg' %}" alt=""></div>
            <div>
              <h2 class="heading xxl uppercase btmspace-30">Beneficios</h2>
              <p><strong>Acceso a la Educación Superior:</strong> Las becas permiten que más estudiantes ingresen y
                permanezcan en la universidad, reduciendo las barreras económicas.</p>
              <h1></h1>
              <p><strong>Desarrollo Profesional:</strong> Al participar en actividades académicas y de investigación,
                los estudiantes no solo reciben apoyo financiero, sino que también desarrollan habilidades prácticas
                valiosas para su futuro profesional.</p>
              <h1></h1>
              <p><strong>Mejora del Rendimiento Académico:</strong> Con el alivio financiero proporcionado por las
                becas, los estudiantes pueden concentrarse más en sus estudios, lo que puede resultar en un mejor
                rendimiento académico.</p>
              <h1></h1>
              <p><strong>Inclusión Social:</strong> Las becas promueven la equidad y la inclusión, permitiendo que
                estudiantes de diversos contextos socioeconómicos accedan a oportunidades educativas.</p>
            </div>
          </div>
          <div class="clear"></div>
        </main>
      </div>

      <div class="wrapper row4 " style="color:#211c1c;">
        <section id="info" class="clear">
          <div class="center btmspace-80">
            <h2 class="heading xxl uppercase btmspace-30">Proceso de Inscripción</h2>
            <p class="lrspace justify-text">Los interesados en solicitar una beca hacer una solicitud a
              través del sistema y completar un formulario específico.</p>
            <h1></h1>
            <p>Es importante estar atento a las convocatorias que se enviara mendiente el correo electronico y cumplir
              con los requisitos establecidos para cada tipo de beca. La
              documentación requerida puede variar según el tipo de beca solicitada.</p>
          </div>
          {% endif %}
          <div class="clear"></div>
        </section>
      </div>
    </section>
  </div>




  <div class="clear"></div>
  </section>
</div>




</section>
</div>
</div>
{% endblock %}