{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
Formulario de Solicitudes
{% endblock %}

{% block contenido %}
<div class="wrapper row2 bgded" style="background-image:url('{% static 'images/demo/backgrounds/background.jpg' %}');">
  <div class="overlay">
    <div id="breadcrumb" class="clear">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Solicitudes</a></li>
        <li><a href="#">realizar solicitud</a></li>
      </ul>
    </div>
  </div>
</div>
<style>
input, .date, select, textarea, .file-upload{
  padding: 8px; /* Espaciado interno en celdas */
  text-align: center; /* Alineación del texto */
  border: 1px solid #ddd; /* Bordes de las celdas */
  
  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;
}

.button {
  background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
      padding-box,
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  box-shadow: none;
  opacity: 80%;
}

          
</style>

<div class="wrapper row3" >
  <main class="container clear">
    <h1>Formulario de Solicitud</h1>
    <form action="{% url 'solicitudes_2' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="one_third first">
        <label for="nombre">Nombres <span>*</span></label>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese Nombres" class="form-control" required>
      </div>

      <div class="one_third">
        <label for="apellido">Apellidos <span>*</span></label>
        <input type="text" name="apellido" id="apellido" placeholder="Ingrese Apellidos" class="form-control" required>
      </div>

      <div class="one_third">
        <label for="cedula">Cédula <span>*</span></label>
        <input type="text" name="cedula" id="cedula" placeholder="Ingrese Cédula" class="form-control" required>
      </div>

      <div class="one_third first">
        <label for="edad">Edad <span>*</span></label>
        <input type="number" name="edad" id="edad" placeholder="Ingrese Edad" class="form-control" required min="0">
      </div>

      <div class="one_third">
        <label for="email">Correo <span>*</span></label>
        <input type="email" name="email" id="email" placeholder="Ingrese Correo electronico" class="form-control"
          required>
      </div>

      <div class="one_third">

        <label for="f_nacimiento">Fecha de Nacimiento <span>*</span></label>
        <input type="date" name="f_nacimiento" id="f_nacimiento"
          class="form-control" required>
      </div>

      <div class="one_third first">

        <label for="residencia">Residencia <span>*</span></label>
        <input type="text" name="residencia" id="residencia" placeholder="Ingrese residencia" class="form-control"
          required>
      </div>

      <div class="one_third">

        <label for="ubicacion">Procedencia <span>*</span></label>
        <input type="text" name="ubicacion" id="ubicacion" placeholder="Ingrese su Procedencia" class="form-control"
          required>
      </div>

      <div class="one_third">
        <label for="genero">Género <span>*</span></label>
        <select name="genero" id="genero" class="form-control">
          <option value="">Seleccione...</option>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>

      <input type='hidden' name='fecha_creacion' value="{{ today|date:'Y-m-d' }}">

      

      <div class="block clear">
         
        <label for="carrera">Carrera <span>*</span></label>
        <select name="carrera" id="carrera" class="form-control" required>
          <option value="">Seleccione...</option>
          <option value="agronomia animal">Agronomía mención Producción Animal</option>
          <option value="agronomia vegetal">Agronomía mención Producción vegetal</option>
          <option value="medicina veterinaria">Medicina Veterinaria</option>
          <option value="medicina">Medicina</option>
          <option value="enfermeria">Enfermería</option>
          <option value="radiologia">Radiodiagnóstico</option>
          <option value="odontologia">Odontología</option>
          <option value="administracion comercial">Administración Comercial</option>
          <option value="contaduria publica">Contaduría Pública</option>
          <option value="economia">Economía</option>
          <option value="comunicacion social">Comunicación Social</option>
          <option value="derecho">Derecho</option>
          <option value="ing informatica">Ingeniería Informática</option>
          <option value="ing electronica">Ingeniería Electrónica</option>
          <option value="ing civil">Ingeniería Civil</option>
          <option value="ing Hidrocarburos (gas)"> Ingeniería en Hidrocarburos mención Gas</option>
          <option value="ing Hidrocarburos (petroleo)"> Ingeniería en Hidrocarburos mención Petróleo</option>
          <option value="ing Industrial">Ingeniería Industrial</option>
          <option value="educacion integral"> Educación Integral</option>
          <option value="educacion mencion computacion">Educación Mención Computación</option>
        </select>

      </div>

      <div class="block clear ">
        <h1></h1>
        <label for="reporte_de_notas">Reporte de Notas Actualizada (PDF) <span>*</span></label>
        <input type="file" name="reporte_de_notas" id="reporte_de_notas" class="form-control" required accept=".pdf"></input>
      </div>

      <div class="block clear">
        <label for="comentario">Comentario <span>*</span></label>
        <textarea name="comentario" id="comentario" cols="105" rows="10"
          placeholder="El comentario debe ser lo mas detallado posible" required></textarea>
      </div>
      
      <div>
        &nbsp;
        <button class= "button" type='submit'>Enviar Formulario</button>
        &nbsp;
        <button class= "button" type='reset'>Restablecer Formulario</button>
      </div>

    </form>
  </main>
</div>

{% endblock %}