{% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Solicitudes
{% endblock %}

{% block contenido %}
<div class="wrapper row2 bgded" style="background-image:url('{% static 'images/demo/backgrounds/background.jpg' %}');">
  <div class="overlay">
    <div id="breadcrumb" class="clear">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Solicitudes</a></li>
      </ul>
    </div>
  </div>
</div>

    <style>
.button {
  background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
      padding-box,
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 5px 20px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  box-shadow: none;
  opacity: 80%;
}

input{
  padding: 8px; /* Espaciado interno en celdas */
  text-align: center; /* Alineación del texto */
  border: 1px solid #ddd; /* Bordes de las celdas */
  
  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;
}

    </style>
<div class="wrapper row3">
  <main class="container clear">

    <h2>Ingrese cedula de identidad visualizar estado de la solicitud</h2>
    <div class="content">
      <form action="{% url 'buscar' %}" method="get">
    
        <input type="number" name="cedula" id="busqueda"  size="20"  placeholder="Ingrese cédula" required>
        <p><input class= "button" type="submit" value="Buscar"></p>
        <br>para realizar una solisitud ingresar aca <br>
        <P><a href="{% url 'solicitudes_2' %}">realizar solicitud &raquo;</a></P>

      </form>
    </div>
  </main>
</div>
{% endblock %}

