{% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Full Width
{% endblock %}

{% block contenido %}
<div class="wrapper row2 bgded" style="background-image:url('{% static 'images/demo/backgrounds/background.jpg' %}');">
  <div class="overlay">
    <div id="breadcrumb" class="clear"> 
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">login</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">registros</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper row3">
  <main> 
    <div class="content"> 
      <style>
        main {
          max-width: 1700px; /* Ajusta este valor según lo necesites */
          margin: 0 auto; /* Centra el contenido horizontalmente */
          padding: 20px; /* Espaciado interno */
        }

      .table-responsive {
            overflow-x: auto; /* Permite el desplazamiento horizontal */
            overflow-y: auto; /* Permite el desplazamiento vertical */
        }
    
        table {
            width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
            border-collapse: collapse; /* Elimina los espacios entre celdas */
        }
    
        th, td, select,input, .button_link {
            padding: 8px; /* Espaciado interno en celdas */
            text-align: center; /* Alineación del texto */
            border: 1px solid #ddd; /* Bordes de las celdas */
            
        }

        input, select {
        text-shadow: 1px 1px 1px #00000040;
        box-shadow: 8px 8px 20px 0px #45090059;
        }
        .button_link {
            padding: 8px; /* Espaciado interno en celdas */
            text-align: center; /* Alineación del texto */
            border: 1px solid #ddd; /* Bordes de las celdas */
            
        }
        .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        }

      .button {
        background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%) padding-box,
          linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
        border-radius: 7px;
        border: 2px solid transparent;

        text-shadow: 1px 1px 1px #00000040;
        box-shadow: 8px 8px 20px 0px #45090059;

        padding: 10px 40px;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.3s;
        color: white;
        font-size: 18px;
        font-weight: 500;
      }

      .button:hover {
        box-shadow: none;
        opacity: 80%;
      }
      </style>
      <div class="form-row">
        <h2>Listado de Estudiantes Registrados</h2>
      </div>

      <div class="form-row">
        <div class="form-row">  
          
          <!-- Formulario de Búsqueda -->
          <form method="GET" action="{% url 'full' %}">
              <div class="form-row">
                <input type="text" name="cedula" placeholder="Cédula" value="{{ request.GET.cedula }}">
                
                <select name="genero">
                    <option value="">Seleccione Género</option>
                    <option value="masculino" {% if request.GET.genero == "masculino" %}selected{% endif %}>Masculino</option>
                    <option value="femenino" {% if request.GET.genero == "femenino" %}selected{% endif %}>Femenino</option>
                </select>

                <select name="carrera" >
                  <option value="">Seleccione carrera</option>
                  <option value="agronomia animal" {% if request.GET.carrera == "agronomia animal" %}selected{% endif %}>Agronomía mención Producción Animal</option>
                  <option value="agronomia vegetal" {% if request.GET.carrera == "agronomia vegetal" %}selected{% endif %}>Agronomía mención Producción vegetal</option>
                  <option value="medicina veterinaria" {% if request.GET.carrera == "medicina veterinaria" %}selected{% endif %}>Medicina Veterinaria</option>
                  <option value="medicina" {% if request.GET.carrera == "medicina" %}selected{% endif %}>Medicina</option>
                  <option value="enfermeria" {% if request.GET.carrera == "enfermeria" %}selected{% endif %}>Enfermería</option>
                  <option value="radiologia" {% if request.GET.carrera == "radiologia" %}selected{% endif %}>Radiodiagnóstico</option>
                  <option value="odontologia" {% if request.GET.carrera == "odontologia" %}selected{% endif %}>Odontología</option>
                  <option value="administracion comercial" {% if request.GET.carrera == "administracion comercial" %}selected{% endif %}>Administración Comercial</option>
                  <option value="contaduria publica" {% if request.GET.carrera == "contaduria publica" %}selected{% endif %}>Contaduría Pública</option>
                  <option value="economia" {% if request.GET.carrera == "economia" %}selected{% endif %}>Economía</option>
                  <option value="comunicacion social" {% if request.GET.carrera == "comunicacion social" %}selected{% endif %}>Comunicación Social</option>
                  <option value="derecho" {% if request.GET.carrera == "derecho" %}selected{% endif %}>Derecho</option>
                  <option value="ing informatica" {% if request.GET.carrera == "ing informatica" %}selected{% endif %}>Ingeniería Informática</option>
                  <option value="ing electronica" {% if request.GET.carrera == "ing electronica" %}selected{% endif %}>Ingeniería Electrónica</option>
                  <option value="ing civil" {% if request.GET.carrera == "ing civil" %}selected{% endif %}>Ingeniería Civil</option>
                  <option value="ing Hidrocarburos (gas)" {% if request.GET.carrera == "ing Hidrocarburos (gas)" %}selected{% endif %}> Ingeniería en Hidrocarburos mención Gas</option>
                  <option value="ing Hidrocarburos (petroleo)" {% if request.GET.carrera == "ing Hidrocarburos (petroleo)" %}selected{% endif %}> Ingeniería en Hidrocarburos mención Petróleo</option>
                  <option value="ing Industrial" {% if request.GET.carrera == "ing Industrial" %}selected{% endif %}>Ingeniería Industrial</option>
                  <option value="educacion integral" {% if request.GET.carrera == "educacion integral" %}selected{% endif %}> Educación Integral</option>
                  <option value="educacion mencion computacion" {% if request.GET.carrera == "educacion mencion computacion" %}selected{% endif %}>Educación Mención Computación</option>
                </select>

              
                <select name="t_beneficio">
                  <option value="">Seleccione tipo de beneficio</option>
                  <option value="beneficio 1" {% if request.GET.t_beneficio == "beneficio 1" %}selected{% endif %}>Beneficio 1</option>
                  <option value="beneficio 2" {% if request.GET.t_beneficio == "beneficio 2" %}selected{% endif %}>Beneficio 2</option>
                </select>
                
                <select name="estatus">
                    <option value="">Seleccione Estatus</option>
                    <option value="Aceptado" {% if request.GET.estatus == "Aceptado" %}selected{% endif %}>Aceptado</option>
                    <option value="Rechazado" {% if request.GET.estatus == "Rechazado" %}selected{% endif %}>Rechazado</option>
                </select>

              </div>
              <div class="form-row">
               
                <button class="button" type='submit'>buscar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'full' %}?export=excel&cedula={{ request.GET.cedula }}&genero={{ request.GET.genero }}&carrera={{ request.GET.carrera }}&t_beneficio={{ request.GET.t_beneficio }}&estatus={{ request.GET.estatus }}" class="button_link">Exportar a Excel</a>
              </div>
            </div>
          </form>
        </div>
         

      
      <div class="table-responsive">
        <h1> </h1>
          <table>
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Cedula</th>
                      <th>Email</th>
                      <th>Edad</th>
                      <th>Fecha de nacimiento</th> 
                      <th>Fecha de registro</th>
                      <th>Ubicacion</th>
                      <th>Genero</th>
                      <th>Telefono N° 1</th>
                      <th>Telefono N° 2</th>
                      <th>Carrera</th>
                      <th>Sede</th>
                      <th>Tipo de beneficio</th>
                      <th>Fecha de inicio</th>
                      <th>Fecha final</th>
                      <th>Estatus</th>
                      <th>Cursando</th>
                      <th>Comentario</th>
                  </tr>
              </thead>
              <tbody>
                  {% for registro in registros %}
                  <tr>
                      <td>{{ registro.nombre }} {{ registro.nombre2 }}</td> 
                      <td>{{ registro.apellido }} {{ registro.apellido2 }}</td>  
                      <td>{{ registro.cedula }}</td>    
                      <td>{{ registro.email }}</td>
                      <td>{{ registro.edad }}</td>
                      <td>{{ registro.f_nacimiento }}</td> 
                      <td>{{ registro.fecha_creacion }}</td>
                      <td>{{ registro.ubicacion }}</td>  
                      <td>{{ registro.genero }}</td>    
                      <td>{{ registro.telefono1 }}</td>
                      <td>{{ registro.telefono2 }}</td> 
                      <td>{{ registro.carrera }}</td>  
                      <td>{{ registro.sede }}</td>    
                      <td>{{ registro.t_beneficio }}</td>
                      <td>{{ registro.fecha_inicio }}</td> 
                      <td>{{ registro.fecha_final }}</td>  
                      <td>{{ registro.estatus }}</td>                      
                      <td>{{ registro.cursando }}</td>  
                      <td>{{ registro.comentario }}</td>
                  </tr>
                  {% empty %}
                  <tr><td colspan="16">No se encontraron registros.</td></tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
    
  </main> 
</div>
{% endblock %}





