{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
Basic Grid
{% endblock %}

{% block estilos %}
<style type="text/css">
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
@media screen and (min-width:180px) and (max-width:900px){.container .demo div{margin-bottom:0;}}
</style>
{% endblock %}


{% block contenido %}
<div class="wrapper row2 bgded" style="background-image:url('{% static 'images/demo/backgrounds/background.jpg' %}');">
  <div class="overlay">
    <div id="breadcrumb" class="clear"> 
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Solicitudes</a></li>
            <li><a href="#">Realizar Solicitud</a></li>
            <li><a href="#">Estado de la Solicitud</a></li>
          </ul>
    </div>
  </div>
</div>
<div class="wrapper row3">
  <main class="container clear"> 
    <div class="content three_quarter">

        <head>
            <meta charset="UTF-8">
            <title>Éxito</title>
        </head>
        <body>
            <h1>¡Solicitud enviada con éxito!</h1>
            <p>Gracias por enviar su solicitud.</p>
          <a href="{% url 'solicitudes_2' %}">Volver al formulario</a> 
        </body>
      

    </div>
    <div class="clear"></div>
  </main>
</div>
{% endblock %}