.grafico1, .grafico2, .grafico3, .grafico4 {
    width: 100%;          /* Ocupa todo el ancho disponible */
    min-height: 400px;   /* Altura mínima para el gráfico */
    max-height: 600px;   /* Altura máxima opcional para evitar que crezca demasiado */
    margin: 5px;        /* Margen superior e inferior */
    margin-bottom: 5px;         /* Margen inferior para separación vertical */
}

/* Clase para alinear a la derecha */
.derecha {
    float: right;         /* Flota el elemento a la derecha */
    width: 48%;           /* Ancho del contenedor (ajústalo según sea necesario) */
}

/* Clase para alinear a la izquierda */
.izquierda {
    float: left;          /* Flota el elemento a la izquierda */
    width: 48%;           /* Ancho del contenedor (ajústalo según sea necesario) */
}


/* Contenedor principal para los gráficos */
.contenedor-graficos {
    display: flex;                /* Usar Flexbox para la alineación */
    justify-content: space-between; /* Espaciado entre columnas */
    margin: 20px;                /* Margen alrededor del contenedor */
    justify-content: center;         /* Centra horizontalmente */
    align-items: center;             /* Centra verticalmente */
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .contenedor-graficos {
        flex-direction: column;   /* Cambia a una columna en pantallas pequeñas */
    }
    
    .izquierda, .derecha {
        width: 100%;              /* Cada columna ocupa todo el ancho */
    }
}
